.recipe-modal .modal-dialog {
    max-width: 50vw;
    max-height: 80vh;
    width: auto;
    height: auto;
}

.recipe-modal .modal-content{
    max-height: 90vh;
    overflow-y: auto;
}

.recipe-modal ,modal-body{

    overflow-y: auto;
}

/* style recipe title and image */
.recipe-title{
    font-size: 36px;
    font-weight: bold;
}

.recipe-image{
    max-width: 100%;
    height: auto;
}

.ingredients-list{
    padding:0;
}

.ingredient-item{
 font-size: 20px; 
 display: flex;
 align-items: center;  
 justify-content: space-between;
 margin: 5px;
 border-top: yellow solid 2px;
 padding: 1px;
 padding-top: 3px;
}

.ingredient-name{
    flex-grow:1;
}

.ingredient-image{
    text-align: right;
    width: auto;
    height: 50px;  
}
.image-container{
    display: flex;
    align-items:start;
    justify-content: flex-end;
}

.the-recipe-card{
    background-color: white;
}

.step-row{
    border-bottom: red solid 1px;
}

.card-header{
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.recipe-image{

    border: 2px solid red;
}

.upvote-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;

}

.upvote-arrow{

    font-size: 40px;
    position: relative;
    margin: 0;
    padding: 0;

}

.upvote-count{
    position: absolute;
    color:black;
    font-size: 16px;
    font-weight: bolder;
    z-index: 1000;
    margin: 0;
    padding: 0;
    opacity: 0.75;
}
